#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.debug-stage.xcconfig"
#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release-stage.xcconfig"
#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.profile-stage.xcconfig"
#include "Generated.xcconfig"
PRODUCT_BUNDLE_IDENTIFIER=com.example.myApp.stage
FLUTTER_FLAVOR=stage
